# Auto detect text files and perform LF normalization
* text=auto
# shell scripts need to stay unix so cygwin can run
byte-compile-all text eol=lf
check-compile text eol=lf
check-tangle text eol=lf
e text eol=lf
org-tangle text eol=lf
*.bash text eol=lf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
